:root {
    --primary-color: blue;
    --secundary-color: red;
    --third-color: yellow;
    --fourth-color: rgb(69, 8, 8);
    --body-font: sansita, sans-serif;
    --h-font: 'sansita Swashed', serif;
}
*{
    margin: 0;
    font-family: var(--body-font);
}

.hero img{
    width: 100%;
    object-fit: cover;
    display: block;
    /* border-bottom: 5px solid yellow; */
}
header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
h1{
    font-family: var(--h-font);
    font-size: 40px;
    color: white;
    text-align: center;
}
.color1, .color2, .color3{
    min-height: 33.3px;
}
.color1 {
    background-color: var(--third-color);
}
.color2{
    background-color: var(--primary-color);
}
.color3{
    background-color: var(--secundary-color);
}

section{
    padding: 30px 20px;
    max-width: 750px;
}

  
h2 {
    font-family: var(--h-font);
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 5px;
}
  
.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7px 0;
    border-bottom: 1px solid lightgray; 
}
  
.label {
    font-weight: bold;
    text-align: right;
    padding-right: 7.5px;
}
  
.value {
    text-align: left; 
    padding-left: 7.5px;
}
.weather {
    place-items: center;
}
  
.year p{
    display: inline;
}
footer {
    background-color: var(--primary-color);
    padding: 1% 0;
    text-align: center;
    font-size: larger;
    color: white;
    min-height: auto;
}


@media (min-width: 751px){

.color1, .color2, .color3{
    min-height: 50px;
}

h1{
    font-size: xxx-large;
}
.container{
    width: 100%;
    position: relative;
    min-height: 100%;
}

section{
    padding: 10px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
}
.weather img{
    display: none;
}
.data {
    top: 7%; 
  left: 5%;
    
}
.weather {
    bottom: 7%; 
  right: 3%;
}
.data h2{
    margin-right: 20px;
}
h2 {
    background-color: var(--fourth-color);
    color: white;
    padding: 0 20px;
    text-align: start;
    font-size: 35px;
    margin-left: -40px;
}
.weather h2::after{
    content: ' ⛅';
}
}
@media (min-width: 2200px){
    section{
        /* width: 600px; */
        height: auto;
        font-size: xxx-large;
        padding-top: 20px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 50px;margin-left: -50px ;
        padding-left: 50px;
    }
    .data h2{
        margin-right: 50px;

    }
    .weather h2{
        margin-right: 80px;
        padding-right: 250px;
        
    }
}